<f:layout name="Default" />
<f:section name="content">
    <div id="wrapper">
        <header id="branding" role="banner">
           <f:render partial="header" arguments="{_all}" />
        </header>

        <section id="main-content">
            <div id="main" role="main">
               <f:cObject typoscriptObjectPath="lib.content.main" />
            </div>
            <!-- end main -->

            <div id="base" class="clearfix">
				<f:cObject typoscriptObjectPath="lib.content.right" />
            </div>

        </section>

    </div>
    <!-- end wrapper -->
    <footer id="site-info">
       <f:render partial="footer" arguments="{_all}" />
    </footer>

</f:section>
