<f:layout name="Default" />
<f:section name="content">
    <div id="wrapper">
        <header id="branding" role="banner">
           <f:render partial="header" arguments="{_all}" />
        </header>

        <section id="main-content">
			<nav id="sub-nav">
				<f:cObject typoscriptObjectPath="lib.subnavMenu" />
				<f:cObject typoscriptObjectPath="lib.subnavMenu_1" />
			</nav>
			<div class="back-to-overview">
				<f:cObject typoscriptObjectPath="lib.joblist_pid" />
			</div>
			
			<div class="clearfix" id="breadcrumb">
				<f:cObject typoscriptObjectPath="lib.breadcrumb" />
			</div>
			<f:cObject typoscriptObjectPath="lib.content.main" />
            
            <div class="bottom-back-to-overview">
				<div class="back-to-overview">
					<f:cObject typoscriptObjectPath="lib.joblist_pid" />
				</div>
			</div>
			
             <div id="base" class="clearfix">
				<f:cObject typoscriptObjectPath="lib.content.right" />
            </div>

        </section>

    </div>
    <!-- end wrapper -->
    <footer id="site-info">
       <f:render partial="footer" arguments="{_all}" />
    </footer>
    
</f:section>



	
