{namespace n=GeorgRinger\News\ViewHelpers}<!--
	=====================
		Partials/List/Item_eventslist.html
-->
<li class="articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	
	<n:link newsItem="{newsItem}" settings="{settings}">
		<span class="date"><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></span>
		<span class="title">{newsItem.title}</span>
	</n:link>
	
</li>
