
<label for="fullName">
	<f:translate key="tx_officeext_domain_model_query.full_name" />
</label><br />
	<f:form.textfield property="fullName" /><br />
<label for="email">
	<f:translate key="tx_officeext_domain_model_query.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="country">
	<f:translate key="tx_officeext_domain_model_query.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="company">
	<f:translate key="tx_officeext_domain_model_query.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="message">
	<f:translate key="tx_officeext_domain_model_query.message" />
</label><br />
	<f:form.textarea property="message" cols="40" rows="15" /><br />