
<table class="tx-office-ext" >
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_query.full_name" />
		</td>
		<td>
		{query.fullName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_query.email" />
		</td>
		<td>
		{query.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_query.country" />
		</td>
		<td>
		{query.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_query.company" />
		</td>
		<td>
		{query.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_query.message" />
		</td>
		<td>
		{query.message}
		</td>
	</tr>
</table>