
<table class="tx-office-ext" >
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.name" />
		</td>
		<td>
		{branchOffice.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.address" />
		</td>
		<td>
		{branchOffice.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.city" />
		</td>
		<td>
		{branchOffice.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.zip" />
		</td>
		<td>
		{branchOffice.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.site_url" />
		</td>
		<td>
		{branchOffice.siteUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.image" />
		</td>
		<td>
				<f:image src="{branchOffice.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.latitude" />
		</td>
		<td>
		{branchOffice.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_officeext_domain_model_branchoffice.longitude" />
		</td>
		<td>
		{branchOffice.longitude}
		</td>
	</tr>
</table>