
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div id="branch-office">
	<div class="back-to-overview">
		<f:link.page onclick="history.go(-1);return false">
			<f:translate key="LLL:EXT:office_ext/Resources/Private/Language/locallang_db.xlf:general_text.btn_overview" />
		</f:link.page>
	</div>
	<div id="breadcrumb" class="clearfix">
		<ol>
			<li>
				<f:link.action action="list">
					<f:translate key="LLL:EXT:office_ext/Resources/Private/Language/locallang_db.xlf:general_text.breadcrumb_text" />
				</f:link.action>
			</li>
			<li>
				<strong>{branches.countryId.name} ({branches.city})</strong>
			</li>
		</ol>
	</div>

	<div id="page-intro">
		<h1>
			<p>
				<strong>{branches.countryId.name}  </strong>({branches.city})
			</p>
		</h1>
		<div class="text-meta" role="contentinfo"></div>
		<div class="content"></div>
	</div>

	<div class="detail">
		<div class="branch-office">
			<div class="specifications">
				<dl>
					<dt>{branches.name}</dt>
					<dl class="title"></dl>
					<dl class="street">{branches.address}</dl>
					<dl class="city">{branches.zip} {branches.city} {branches.cityInfo}</dl>
					<dl class="country">{branches.countryId.name}</dl>
					<dl class="continent">{branches.countryId.continent.name}</dl>
					<dl>
						<f:link.external uri="{branches.siteUrl}">{branches.siteUrl}</f:link.external> 
					</dl>
				</dl>
			</div>
			<figure>
				<f:image src="{branches.image.originalResource.publicUrl}" width="395"></f:image>
			</figure>	
		</div>

		
		<f:if condition="{person}">
			<div class="contacts">
				<f:for each="{person}" as="persons">
					<div class="vcard-wrapper">
						<div class="teaser box vcard">
							<div class="info">
								<div>
									<p class="fn n">
										<span class="given-name">{persons.name}</span>
									</p>
								</div>
								<div class="continent-country">{persons.countryId.continent.name} / {persons.countryId.name}</div>
								<div>
									<h3>Telephone</h3>
									<dl class="tel">
										<dt>Word</dt>
										<dd class="value">{persons.contact}</dd>
									</dl>
								</div>
								<div>
									<h3>Email</h3>
									<dl class="email">
										<dt>E-Mail</dt>
										<dd class="value"><f:link.email email="{persons.email}">{persons.email}</f:link.email></dd>
									</dl>
								</div>
							</div>		
							<div class="button">
								<f:link.action action="show" arguments="{contactPerson : persons}" controller="ContactPerson" pluginName="singleContact" pageUid="{settings.singleContactPage}">
									
									<f:translate key="LLL:EXT:office_ext/Resources/Private/Language/locallang_db.xlf:general_text.btn_send" />

								</f:link.action>
							</div>				
						</div>
					</div>
				</f:for>
			</div>
		</f:if>
	</div>
	<div id="main" role="main">	
		<f:if condition="{awards}">
			<div class="text-section download media photo">
				<f:for each="{awards}" as="awd">
					<div class="media">
						<dl class="media photo">
							<dt><f:image src="{awd.image.originalResource.publicUrl}"></f:image></dt>
						</dl>
						<div class="downloads"></div>
					</div>
					<div class="visible">
						<div class="content">
							<p>{awd.description}</p>		
						</div>
					</div>
				</f:for>
			</div>
		</f:if>

		<f:if condition="{document}">
			<f:for each="{masterDoc}" as="mDocs">
					<f:if condition="{mDocs.title}">
						<div class="text-section quote media photo">
							<div class="quote-text">
								<p>{mDocs.teaser}</p>
							</div>
							<h2>{mDocs.title}</h2>
						</div>
					</f:if>
				<f:for each="{docType}" as="types">
					<f:if condition="{types.uid} == {mDocs.uid}">
						<div class="downloads">
							<div class="head"><h2>{types.type}</h2></div>
							<ul class="public"> 
								<f:for each="{document}" as="docs">
									<f:if condition="{types.id} == {docs.documentType.uid}">
										<li class="download">
											<a href="{docs.file.originalResource.publicUrl}" class="file-link" target="_blank">
												<figure>
													<img src="typo3conf/ext/website_template/Resources/Public/images/vignette-document-download.png">
												</figure>
												<div class="text">
													<span class="title">{docs.name}</span>
													<span class="extension"></span>
													<span class="link">{docs.name}</span>
												</div>
											</a>
										</li>
									</f:if>
								</f:for>
							</ul>
						</div>
					</f:if>
				</f:for>
			</f:for>
		</f:if>
	</div>
</div>
</f:section>
