
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div id="page-intro">
		<h1>CONTACT:FAILED</h1>
		<div class="content"></div>
	</div>
	<div id="main" role="main">
		<div class="text-section standard media photo no-img">
			<h2>Entered Email Address is Invalid</h2>
		</div>
	</div>
</f:section>