 <div class="top">
	<div id="site-info-box-left">
		<div>
			<f:cObject typoscriptObjectPath="lib.footermenuTitleFirst" />
			<f:cObject typoscriptObjectPath="lib.footermenuFirst" />
		</div>

		<div id="about" role="contentinfo">
			<f:cObject typoscriptObjectPath="lib.footermenuTitleSecond" />
			<f:cObject typoscriptObjectPath="lib.footermenuSecond" />
			<p>
				<br />
				<br />
				<f:cObject typoscriptObjectPath="lib.footeremail" />
			</p>
		</div>
		<!-- end about -->

		<div class="social-media">
			<f:cObject typoscriptObjectPath="lib.socialmedia" />
		</div>
	</div>
	<!-- end site-info-box -->
	<div id="site-info-box-right">
		<div class="meta-language">
			<f:cObject typoscriptObjectPath="lib.languagebox" />

		</div>

		<f:cObject typoscriptObjectPath="lib.search" />
		<!-- end search-box -->

		<div class="user-actions">
			<div class="user-login-registration">
				<f:cObject typoscriptObjectPath="lib.footerloginTitle" />
				<f:cObject typoscriptObjectPath="lib.loginMenu" />
			</div>

			<div class="newsletter">
				<h6>Newsletter</h6>
				<a href="/company/contact/newsletter.html" class="button">Subscribe</a>
			</div>
		</div>
	</div>

	<div id="copyright">
		<p><f:cObject typoscriptObjectPath="lib.footerCopyright" /></p>
	</div>
</div>
<div class="bottom">
	<div class="motto">
		<f:cObject typoscriptObjectPath="lib.footertext" />
	</div>
	<div class="logo">
		<f:cObject typoscriptObjectPath="lib.footerlogo" />
	</div>
	<a href="#0" class="cd-top"></a>

</div>
