<div id="branding-box">
<div id="logo">
<f:cObject typoscriptObjectPath="lib.logo" />
</div>
<!-- end logo -->
<div class="pull-btn"></div>
<nav id="main-nav" role="navigation">
<f:cObject typoscriptObjectPath="lib.mainmenu" />
</nav>
<!-- end nav-global -->
<f:cObject typoscriptObjectPath="lib.search" />
<!-- end search-box -->
<div class="meta-language">
<dl>
<dt>
<f:cObject typoscriptObjectPath="lib.language_title" />
</dt>
<dd>
<f:cObject typoscriptObjectPath="lib.language" />
</dd>
</dl>
</div>
<div id="nav-meta">
<f:cObject typoscriptObjectPath="lib.topmenu" />
</div>
<!-- end nav-meta -->
</div>
