
<!-- ###TEMPLATE_FORM1### -->
###master_multipart-form-start_loa-request-form###
	
<div class="firstform-div">

		<div id="show_loa_error"></div>	
	  ###master_section-start###
		<h2>###LLL:form1_subheader1###</h2>
			###master_input_firstname###
			###master_input_lastname###
			###master_input_title###
			###master_input_company###
			###master_input_address1###
			###master_input_address2###
			###master_input_city###
			###master_input_state###
			###master_input_zip###
			###master_input_country###
			###master_input_telephone###
			###master_input_email###
		
	  ###master_section-end###
	  ###master_section-start###
		<h2>###LLL:form1_subheader2###</h2>
			###master_input_companyname###
			###master_input_companyaddress1###
			###master_input_companyaddress2###
			###master_input_companycity###
			###master_input_companystate###
			###master_input_companyzip###
			###master_input_companycountry###
	  ###master_section-end###
	  ###master_section-start###
		<h2>###LLL:form1_subheader3###</h2>
			###master_input_contactfirstname###
			###master_input_contactlastname###
			###master_input_contacttitle###
			###master_input_contactemail###
	  ###master_section-end###
	  ###master_section-start###
			###master_next###
	  ###master_section-end###
</div>
###master_form-end###
<!-- ###TEMPLATE_FORM1### -->

<!-- ###TEMPLATE_FORM2### -->
###master_multipart-form-start_loa-request-form###
<div class="secondform-div">
	  ###master_section-start###
			<h2>###LLL:form2_subheader1###</h2>
			###master_requesttype###
	  ###master_section-end###
	   <div id="update_loa_div">
	  ###master_section-start###
			###master_input_loarequestno###		
	  ###master_section-end###
	 </div>
	  <div id="new_product_div">
		  ###master_section-start###
				###master_submissioncountry###
				###master_input_applicationtype###
				###master_fdadepartment###
				###master_input_drugproductname###
				<div class="form-row info small"><b>Please note:</b> you will need to fill out a new LoA request for each drug product submission.</div>
		 ###master_section-end###
	<div id="product_detail">
		 ###master_section-start###
				<h2>###LLL:form2_subheader2###</h2>
			<div class="form-row info normal">###LLL:form2_subheader3###</div>
				###master_input_compound###
				###master_input_productcode###
				###master_washingprogram###
				###master_coating###
				###master_input_otherspecify###
				###master_application###
				###master_input_accountmanager###
				###master_input_dateloarequest###
		  ###master_section-end###
		</div>
	  </div>
	 
	  ###master_section-start###
			###master_prevsubmit###
	  ###master_section-end###
</div>
###master_form-end###
<!-- ###TEMPLATE_FORM2### -->
